body {
  background-color: rgb(52, 52, 52);
  color: white;
  font: 14px "Pattaya", Futura, sans-serif;
  font-size: x-large;
}

/* -------- LOOPER -------- */
.looper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.looper h1 {
  margin: 0.5em 0;
}

/* -------- GRID -------- */
.grid {
  height: 70vh;
  width: 70vh;
  max-height: 70vw;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url('looperBackGround.png') no-repeat;
  background-size: 100%;
}

.gridRow {
  height: 31%;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* -------- PAD -------- */
.pad {
  width: calc(31% * 0.7);
  height: 0;
  padding-top: calc(31% * 0.7);
  position: relative;
  float: left;
  border: 0px solid #000;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
}

.pad:focus {
  outline: none;
}

.pad-pending {
  animation: pendingPad 1000ms infinite;
}

.pad-on {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
}

.padIcon {
  position: absolute;
  height: 60%;
  top: 20%;
  left: 20%;
  bottom: 20%;
  right: 20%;
}

/* -------- CONTROLS -------- */
.controls {
  width: 68vw;
  max-width: 68vh;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.controlButton {
  width: calc(68vw / 9);
  max-width: calc(68vh / 9);
  border-radius: 50%;
}

.recordOn {
  animation: recording 1000ms infinite;
}

.beat {
  width: 2em;
}

.light {
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  margin-bottom: 0.125em;
  margin-left: 0.5em;
  border: 1px solid grey;
  border-radius: 50%;
}

.redLight {
  animation: redBeat 500ms infinite;
}

.greenLight {
  animation: greenBeat 500ms infinite;
}

/* -------- ANIMATIONS -------- */

@keyframes pendingPad {
  0% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  8% {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes redBeat {
  0% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  50% {
    background-color: red;
    box-shadow: 0 0 20px 5px red;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes greenBeat {
  0% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  50% {
    background-color: lightgreen;
    box-shadow: 0 0 20px 5px lightgreen;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes recording {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 10px 7px darkred;
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}